body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    width: calc(100% - 30px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: calc(100% - 40px);
}

.toggle-password {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
}

.login-form button:enabled {
    opacity: 1;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
